:root {
    --h1-color: #70747d;
    --text-color: #70747d;
    --h1change-color: #70747d;
}
*

{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family : Helvetica, Arial, sans-serif;
    background-color: rgb(196, 187, 187);
}
header {
    
    padding: 10px;
    display: flex;

    justify-content: space-between;
    background-color: #434141;
}
nav {
    /* background-color: #383535; */
}
header h1 {
    
    padding-left: 40px;
    display: flex;
    /* I added the following after the above to move the box content a smidge to the left giving color after the "k" */
    padding-right: 10px;
    font-weight: bold;
    margin: 0 0 0 -10px;
    font-size: 36px;
    background: #383535;       
    color: var(--h1-color);    
}
header a {
    color: #70747d;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
}
/* Hero style Starts */
.hero img {
    width: 100%;
    height: 150px; 
    background-size: cover;
}
.content {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;    
}
.content p {
    margin-top: 5px;
    margin-left: 2%;
    text-align: justify;
}
.content h1 {
    display: flex;
    justify-content: flex-start;
    padding-right: 20px; 
    color: var(--h1-color);       
}
.work {
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 200px;
    margin-left: 10%;
}
.work h1 {
    display: flex;
    justify-content: flex-start;
    padding-right: 20px; 
    color: var(--h1-color); 
    /* border-right: 2px solid rgb(4, 41, 4); */
}

.workbox {
    display: flex;
    flex-wrap: wrap;
    flex: 1;    
    /* align-items: flex-end; */
    width: 700px;
    padding: 10px;
    margin: 10px;    
    /* background: #4e6f6c; */
    background: #494d4daf;
    border-radius: 15px;
}
.workBoxItems {
    display: flex;
    /* flex-wrap: wrap; */
    flex-grow: 0;
    
}

.project {
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 650px;
    display: flex;    
    /* flex-wrap: wrap; */
    flex-direction: column; 
    border: 5px solid rgb(196, 187, 187);
    background-image: url("../images/runBuddyBackground.png");
    background-size: cover;
    opacity: 0.5;
    border-radius: 15px;
} 

.project:hover {
    opacity: 1.0;
}
.support {
    flex-direction: row;
    padding: 10px;
    height: 80px;
    width: 315px;
    margin: 10px;    
    border: 5px solid rgb(196, 187, 187);
    opacity: .5;
    border-radius: 15px;
}
.support:hover {
    background-color:#050505;
    opacity: 1.0;
}

.supportOne {
    display: flex;       
}
.supportOnePtZero {    
    padding: 10px;
    height: 80px;
    width: 315px;
    margin: 10px;    
    border: 5px solid rgb(196, 187, 187);
    background-image: url("../images/WebsiteImage1.png");
    opacity: .5;
    border-radius: 15px;
}
.supportOnePtZero:hover {
    opacity: 1.0;    
}
.supportTwo {
    display: flex;    
}

.contact-me {
    margin-left: .5%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    
}
.phone, .email, .git, .twitt, .link {
    padding: 10px;    
}
.phone:hover, .email:hover, .git:hover, .twitt:hover, .link:hover {
    background-color:#414341;
}

.contact-me h2 {
    color: var(--h1-color);
    /* width: 80%; */
    /* border-right: 2px solid rgb(4, 41, 4);  */
    padding: 12px;
}
.info {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
/* .contact-me div {
    display: flex; 
    justify-content: space-around; 
    align-items: stretch;  
} */



@media screen and (max-width: 768px) {
    body {
        background-color: rgb(196, 187, 187);
        color: var(--text-color);
        font-size: 125%;
    }
    header h1, .content h1, .work h1, .contact-me h2 {
        color: var(--h1change-color);
    }
    header nav ul li a {
        color: var(--h1change-color);
        font-size: 125%;
    }
    .support, .project {
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;         
        width: 100%;            
    }
    .support:hover, .project:hover {
        color: black;
    }
}
/* this is just to see if the save works */