:root {
    --h1-color: #70747d;
    --text-color: #2fb829;
    --h1change-color: #b8297f;
}
*

{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family : Helvetica, Arial, sans-serif;
    background-color: rgb(196, 187, 187);
}
header {
    
    padding: 10px;
    display: flex;

    justify-content: space-between;
    background-color: #434141;
}
header h1 {
    
    padding-left: 40px;
    display: flex;
    /* I added the following after the above to move the box content a smidge to the left giving color after the "k" */
    padding-right: 10px;
    font-weight: bold;
    margin: 0 0 0 -10px;
    font-size: 36px;
    background: #40e0d0;       
    color: var(--h1-color)
}
header a {
    color: #40e0d0;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
}
/* Hero style Starts */
.hero img {
    width: 100%;
    height: 150px; 
    background-size: cover;
}
.content {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;    
}
.content p {
    margin-left: 2%;
    text-align: justify;
}
.content h1 {
    display: flex;
    justify-content: flex-start;
    padding-right: 20px; 
    color: var(--h1-color);    
}
.work {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 200px;
    margin-left: 10%;
}
.work h1 {
    display: flex;
    justify-content: flex-start;
    padding-right: 20px; 
    color: var(--h1-color); 
}

.workbox {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
    background: #4e6f6c;
}

.workbox {
    width: 500px;
    
}
.project {
    padding: 10px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
}

.support, .project {
    padding: 10px;
    height: 60px;
    margin: 10px;    
    border: 5px solid rgb(196, 187, 187);
}


.contact-me {
    padding-left: 30px;
    width: 80%;
    display: flex;
    
}
.phone, .email, .git, .twitt, .link {
    padding: 10px;
}
.contact-me h2 {
    color: var(--h1-color);
    /* width: 80%; */
     
}
.info {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
/* .contact-me div {
    display: flex; 
    justify-content: space-around; 
    align-items: stretch;  
} */



@media screen and (max-width: 768px) {
    body {
        background-color: rgb(107,108,161);
        color: var(--text-color);
    }
    header h1, .content h1, .work h1, .contact-me h2 {
        color: var(--h1change-color);
    }
}